:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 55vh;
}

[hidden] {
  visibility: hidden;
}

.row {
  display: flex;
  .mat-fab {
    margin: 3px;
  }
}
